@import './styles.scss';


.childrenRoot {
  display: flex;
  flex-direction: row;
}

.childrenIndent {
  min-width: $indentWidth;
  display: flex;
  justify-content: center;
  padding-left: $leftPadding;
  &::before {
    content: '';
    border-left: 1px solid rgb(197, 197, 197);
  }
}

.childrenList {
  display: flex;
  flex-direction: column;
  width: 100%;
}